[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
requests = ">=2.20.0"
lxml = ">=4.1"
Pillow = ">=5.0"
PyYAML = ">=3.1.2"
tqdm = ">=4.23.4"
xmltodict = "*"
"beautifulsoup4" = "*"
